name: Testing
on: [push, pull_request]

jobs:
  lint_and_test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        go: [ 1.18, 1.19 ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go }}

      - name: Install deps
        shell: bash --noprofile --norc -x -eo pipefail {0}
        run: |
          export GOPATH="$RUNNER_WORKSPACE"
          go version
          go install honnef.co/go/tools/cmd/staticcheck@latest
          go install github.com/client9/misspell/cmd/misspell@latest

      - name: Lint
        shell: bash --noprofile --norc -x -eo pipefail {0}
        run: |
          export GOPATH="$RUNNER_WORKSPACE"
          PATH=$PATH:$GOPATH/bin
          $(exit $(go fmt $(go list ./...) | wc -l))
          find . -type f -name "*.go" | xargs misspell -error -locale US
          staticcheck -f stylish $(go list ./...)
          go vet ./...

      - name: Run tests
        shell: bash --noprofile --norc -x -eo pipefail {0}
        run: |
          export GOPATH="$RUNNER_WORKSPACE"
          go test -v -race -p 1 ./...
